.active{
    width: 75%;
    margin-left: 10rem;
}
li{

    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 55px;
    border-radius: 10px;
}
.text{
    color: white;
    margin: 10px 12px;
}
@media screen and (max-width:400px) {
    .active{
        margin-left: 3rem;
    }
}
@media screen and (max-width:645px) {
    .active{
        margin-left: 5rem;
    }
}
@media screen and (max-width:768px) {
    .active{
        margin-left: 7rem;
    }
}
@media screen and (max-width:800px) {
    .active{
        margin-left: 6rem;
    }
}